<a href="https://colab.research.google.com/github/KurtEmprese/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#Accessing the elements in an Array
animals = ["cat", "dog", "fish"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0]=", x)
print("Array[1]=", y)
print("Array[2]=", z)

Array[0]= cat
Array[1]= dog
Array[2]= fish

In [1]:
#Modifying the element/s in an Array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
x = animals[0]
print("Array[0]=", x)
print(animals)

Array[0]= monkey
['monkey', 'dog', 'fish']

In [2]:
#Length of the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
v = len(animals)
print(v)

5

In [3]:
#Looping Array Elements
animals = ["monkey", "dog", "fish", "cat", "birds"]
for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [5]:
animals = ["monkey", "dog", "fish", "cat", "birds"]
for index, val in enumerate(animals):
  print(index, val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [7]:
#Adding Elements in the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [19]:
#Write a Python program to insert a new item before the second element in an existing array.
#Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
#Removing element/s in the Array
print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]